<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teacher.javabase.javabaseexercise" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoBaseActivity"/>
        <activity android:name=".SourceCodeActivity"/>
        <activity android:name=".demo.FirstDaySummaryHexadecimalConversionDemoActivity"/>
        <activity android:name=".demo.SecondDay_Sort_BaseGrammarDemoActivity"/>
        <activity android:name=".demo.ThirdDayDemoActivity"/>
        <activity android:name=".demo.FourthDayDemoActivity"/>
        <activity android:name=".demo.FifthDayDemoActivity"/>
        <activity android:name=".demo.SixthDayDemoActivity"/>
        <activity android:name=".demo.SeventhDayDemoActivity"/>
        <activity android:name=".demo.EighthDayDemoActivity"/>
        <activity android:name=".demo.NinthDayDemoActivity"/>
        <activity android:name=".demo.TenthDayDemoActivity"/>
        <activity android:name=".demo.EleventhDayDemoActivity"/>
        <activity android:name=".demo.TwelfthDayDemoActivity"/>
        <activity android:name=".demo.ThirteenthDayDemoActivity"/>
        <activity android:name=".DemoRunActivity"
            android:label="@string/title_activity_demo_run"
            android:launchMode="singleTask"/>
    </application>

</manifest>
